<style>
    
    @import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');
    
    @import url('http://fonts.googleapis.com/css?family=Kameron');
    @import url('http://fonts.googleapis.com/css?family=Crimson+Text');
    
    @import url('http://fonts.googleapis.com/css?family=Lato');
    @import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro');
    
    @import url('http://fonts.googleapis.com/css?family=Lora'); 

    
    body {
        font-family: 'Lora', Consolas, sans-serif;
       
        -webkit-print-color-adjust: exact important !;
        
      
       
    }
    
    .alert-block {
        width: 95%;
        margin: auto;
    }
    
    .rendered_html code
    {
        color: black;
        background: #eaf0ff;
        background: #f5f5f5; 
        padding: 1pt;
        font-family:  'Source Code Pro', Consolas, monocco, monospace;
    }
    
    p {
      line-height: 140%;
    }
    
    strong code {
        background: red;
    }
    
    .rendered_html strong code
    {
        background: #f5f5f5;
    }
    
    .CodeMirror pre {
    font-family: 'Source Code Pro', monocco, Consolas, monocco, monospace;
    }
    
    .cm-s-ipython span.cm-keyword {
        font-weight: normal;
     }
     
     strong {
         background: #f5f5f5;
         margin-top: 4pt;
         margin-bottom: 4pt;
         padding: 2pt;
         border: 0.5px solid #a0a0a0;
         font-weight: bold;
         color: darkred;
     }
     
    
    div #notebook {
        # font-size: 10pt; 
        line-height: 145%;
        }
        
    li {
        line-height: 145%;
    }

    div.output_area pre {
        background: #fff9d8 !important;
        padding: 5pt;
       
       -webkit-print-color-adjust: exact; 
        
    }
 
    
 
    h1, h2, h3, h4 {
        font-family: Kameron, arial;

    }
    
    div#maintoolbar {display: none !important;}
    /*

    div#site { 
        border-top: 20px solid #1F407A; 
        border-right: 20px solid #1F407A; 
        margin-bottom: 0;
        padding-bottom: 0;
    }
    div#toc-wrapper { 
        border-left: 20px solid #1F407A; 
        border-top: 20px solid #1F407A; 

    }

    body {
        margin-botton:10px;
    }
    */

</style>
    <script>
IPython.OutputArea.prototype._should_scroll = function(lines) {
        return false;
}
    </script>


<footer id="attribution" style="float:left; color:#1F407A; background:#fff; font-family: helvetica;">
    <p>
    Contributing Authors:
    Gerhard Br&auml;unlich,
    Tarun Chadha,
    Jarunan Panyasantisuk,
    Andrei Plamada,
    Maria Del,
    Mikolaj Rybinski,
    Uwe Schmitt,
    Manuel Weberndorfer
    </p<
</footer>
